body {
    background-color: purple;
}

.navbar {
 position: relative;
 left: 525px;
}

.wrapper { 
    border: 2px solid black;
    background-color: white;
    position: relative;
}

.header {
    position: relative;
    text-align: center;
}

form {
    text-align: center;
}